/* bikhamcyrscript */
@font-face {
	font-family: 'Bikham Cyr Script';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts//bikhamcyrscript.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  /* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v18-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oxanium-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oxanium-v19-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* elsie-swash-caps-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/elsie-swash-caps-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  position: relative;
	margin: 0;
	font-family: 'Inter', sans-serif;

	font-size: 16px;
	line-height: 1.6;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

body.no-scroll {
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

/* Container
==============================*/

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}

/* Header
==============================*/
.header {
	width: 100%;
	height: 60px;
	font-size: 16 px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3000;
	transition: opasity 0.1s linear;
}
.header--opacity {
	background-color: #9E9EA1;
	opacity: 0.8;
}
.header__inner {
  width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__icon {
  height: 35px;
	width: auto;
}

/* Nav
==============================*/
.nav {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.nav__link {
	display: inline-block;
	position: relative;
	color: #49637F;
	text-decoration: none;
	transition: color .1s linear;
}
.nav__link.active {
	text-decoration: underline;
	color: #223F05;
	transition: color .1s linear;
}
.nav__link::before {
	content: attr(data-hover);
	color: #223F05;
	font-weight: 500;
	position: absolute;
	opacity: 0;
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.nav__link:hover::before {
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

/* intro
==============================*/
.intro{
	width: 100vw;
	height: 100vh;
  background: #ffffff
	url("../img/winter-scene.png") top
	no-repeat;
	background-size: 100% 100vh;
  margin-bottom: 30px;
}
.intro__content {
  width: 100%;
	height: 100%;
  display: flex;
  justify-content: space-between;
}
.intro__photo {
  width: 30%;
}
.photo__winter {
  margin-top: 80px;
	max-width: 300px;
	width: 200px;
	height: auto;
}
.content__text {
	width: 40%;
	height: 100vh;
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}
.text1 {
  font-size: 70px;
  font-weight: 400;
  color: #223F05;
  line-height: 1.6;
}
.text2 {
  font-size: 60px;
  font-weight: 400;
  color: #223F05;
  line-height: 1.6;
}
.text3 {
  font-size: 40px;
  font-weight: 400;
  color: #223F05;
  line-height: 1.6;
}
.content__signature {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}
.text4 {
  font-family: 'Bikham Cyr Script', sans-serif;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 400;
  color: #49637F;
}


/* Section
==============================*/
.section__inner {
  width: 100%;
  text-align: center;
}
.section__title-text1 {
  font-family: 'Bikham Cyr Script', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1.6;
  color: #925D6F;
}
.section__title-text2 {
  width: 100%;
  padding: 0 30px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #925D6F;
  margin-bottom: 15px;
}
.text--green {
  color: #367207;
}
.text--orange {
  color: #d7841f;
}

/* Certificates
==============================*/
.certificates {
  width: 100vw;
  height: auto;
  background: #ffffff
	url("../img/spring-scene.png") top
	no-repeat;
	background-size: 100% 100%;
  margin-bottom: 30px;
}
.certificates__img {
  width: 100%;
  height: auto;
}

.certificates__blog{
  padding: 120px 0 100px;
	width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__item {
  width: 32%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.blog__item-link {
  width: 40%;
}
.blog__item-images {
  width: 100%;
  position: relative;
}
.blog__item-window:hover {
  opacity: 0;
}
.blog__item-window {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur(2px);
  transition: opacity .2s linear;
}
.blog__item-img {
  width: 100%;
  height: auto;
  padding: 10px 7px;
}
.blog__item-text {
  padding-left: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.blog__item-text1 {
  font-size: 24px;
  line-height: 2;
  color: #37422C;
}
.blog__item-text2 {
  font-size: 14px;
  line-height: 1.6;
  color: #37422C;
}
.repository-link {
  margin-top: 5px;
  font-weight: 500;
	display: flex;
	justify-content: start;
	text-decoration: none;
	font-size: 14px;
	color: #274b01;
}

.repository-link:hover {
	color: #212919;
  text-decoration-line: underline;
}

/* Projects
==============================*/
.projects {
  width: 100%;
  height: auto;
  background: #ffffff
	url("../img/summer-scene.png") top
	no-repeat;
	background-size: 100% 100%;
  margin-bottom: 30px;
}
.projects__blog{
  padding: 50px 0;
	width: 100%;
}
.projects__items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects__item {
  padding: 0 30px;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.projects__item-link {
  width: 100%;
}
.projects__item-img {
  width: 100%;
  position: relative;
}
.projects__item-text1 {
  font-size: 24px;
  line-height: 2;
  color: #37422C;
}
.projects-link {
  padding-bottom: 15px;
  font-weight: 500;
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-size: 18px;
	color: #274b01;
}
.projects-link:hover {
	color: #212919;
  text-decoration-line: underline;
}

/* Contacts
==============================*/
.contacts{
	width: 100%;
	height: 100vh;
  background: #ffffff
	url("../img/autumn-scene.png") top
	no-repeat;
	background-size: 100% 100%;
  margin-bottom: 30px;
}
.contacts__content {
  width: 100%;
	height: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts__photo {
  margin-top: 100px;
  width: 30%;
}
.photo__autumn {
	display: block;
	max-width: 300px;
	width: 200px;
	height: auto;
}
.signature__text {
  font-family: 'Bikham Cyr Script', sans-serif;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 400;
  color: #646363;
}
.contacts__text {
	width: 40%;
  height: 100vh;
  text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}
.contacts__text1 {
  font-size: 24px;
  font-weight: 400;
  color: #1a3103;
  line-height: 1.6;
}

.contacts__text2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #2b5006;
  line-height: 1.6;
}
.contacts-link {
  margin-top: 20px;
	display: flex;
	justify-content: center;

	font-family: 'Oxanium', sans-serif;
	text-decoration: none;
	font-size: 24px;
	font-weight: 400;
	color: #142503;
}

.contacts-link:hover {

	color: #b65b00;
}

.contact__social {
	display: flex;
	justify-content: center;
}

.contact__item {
	width: 38px;
	height: 38px;
	background-color: #646363;
	border: 2px solid #ffffff;

	padding: 4px 4px;
	margin: 8px;
	border-radius:3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);

	font-size: 18px;
	text-align:center;

	transition: transform .2s linear,
	background-color .2s linear;
}

.social__icon {
	width: 18px;
	height: 18px;

}
.contact__item:hover {
	background-color: #b65b00;
}

.contact__item:active {
	background-color: #723b03;
	transform: scale(0.8);
}

/* Footer
==============================*/

.footer {
	font-family: 'Oxanium', sans-serif;
	padding-left: 20px;
	background-color: #ffffff;
  width: 100%;
}

.footer__inner {
  width: 100%;
	display: flex;
  text-align: center;
  align-items: center;
}

.footer__item__text {
	font-family: 'Inter', sans-serif;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #142503;

	padding: 20px;
}



/* animation_pyramid
==============================*/
.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background: #ffffff;
  z-index: 5000;
  visibility: visible;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.animation_pyramid {
  position: relative;
	width: 500px;
  height: 500px;
	margin: auto;
  overflow: hidden;
}

.description__svg {
  position: absolute;
  width: 500px;
	height: auto;
  top: 33.5%;
  left: -1%;
}

.path__line {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-name: line;

  animation-duration: 6s;
  animation-delay: 0s;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
}

.path__rect {
animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-name: rect;

  animation-duration: 6s;
  animation-delay: 0s;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

@keyframes line {
  0% {
      stroke-dashoffset: 30;
      opacity: 0;
  }
  30% {
      stroke-dashoffset: 30;
      opacity: 1;
  }
  60% {
      stroke-dashoffset: 0;
      opacity: 1;
  }
  80% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
      stroke-dashoffset: 0;
      opacity: 0;
  }
}

@keyframes rect {
  0% {
      stroke-dashoffset: 100;
      opacity: 0;
  }
  30% {
      stroke-dashoffset: 100;
      opacity: 1;
  }
  60% {
      stroke-dashoffset: 0;
      opacity: 1;
  }
  80% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
      stroke-dashoffset: 0;
      opacity: 0;
  }
}

.pyramid-part {
	opacity: .6;
	position: absolute;
}

.f1 {
width: 0;
height: 0;
border-left: 150px solid transparent;
border-right: 150px solid transparent;
border-bottom: 300px solid #0e85fe;
position: relative;
}

.vertex {
	position: absolute;
	margin-top: -40px;
	margin-left: -40px;
}

.f2 {
width: 0;
height: 0;
border: 40px solid transparent;
border-bottom: 80px solid #eaf4ff;
position: relative;
top: 0;
}
.f2:after {
content: "";
width: 0;
height: 0;
position: absolute;
left: -40px;
top: 80px;
border: 40px solid transparent;
border-top-color: #eaf4ff;
}


.scene {
	perspective: 500px;
}

.pyramid {
	width: 300px;
	height: 300px;
	margin: 130px auto;

	transform-style: preserve-3d;

  animation-duration: 3s;
  animation-name: pyramid;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.pyramid_bottom {
	width: 100%;
	height: 100%;

	font-size: 50px;
	color: #333;
	text-align: center;
	line-height: 200px;

	opacity: .4;
	position: absolute;

	background-color: #0e85fe;
	transform: rotateX(90deg);
}

.pyramid-part.front {
	transform: translateZ(75px) translateY(-130px) rotateX(30deg);
}

.pyramid-part.back {
	transform: translateZ(-75px) translateY(-130px) rotateX(-30deg);
}

.pyramid-part.right {
	transform: translateY(-130px) translateX(75px) rotateY(90deg) rotateX(30deg);
}

.pyramid-part.left {
	transform: translateY(-130px) translateX(-75px) rotateY(-90deg) rotateX(30deg);
}

@keyframes pyramid {
	0% {
		transform: rotateX(0deg) rotateY(0deg) scale3d(30%,30%,30%);
	}
	70%{
		transform: rotateX(-90deg) rotateY(-360deg) scale3d(30%,30%,30%);
	}
  100%{
		transform: rotateX(-90deg) rotateY(-360deg) scale3d(30%,30%,30%);
	}
}


/* Media - 1240
===========================================*/
@media (max-width: 1240px) {  
  .certificates {
    background-size: auto 100%;
  }
  .container {
    margin: 0;
    padding: 0 30px;
  }
  .intro__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .intro__photo {
    width: 25%;
    height: auto;
  }
  .photo__winter {
    margin-top: 70px;
  }
  .content__text {
    width: 100%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  .text1 {
    font-size: 60px;
  }
  .text2 {
    font-size: 50px;
  }
  .text3 {
    font-size: 30px;
  }
  .content__signature {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end;
  }
  .text4 {
    font-family: 'Bikham Cyr Script', sans-serif;
    margin-bottom: 40px;
    font-size: 50px;
  }
  .blog__item {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }
  .blog__item-text {
    width: 100%;
    text-align: center;
  }
  .blog__item-text1 {
    font-size: 22;
  }
  .blog__item-text2 {
   font-size: 20;
  }
  .repository-link {
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contacts__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts__photo {
    margin-top: 80px;
    width: 25%;
  }

  .signature__text {
    font-family: 'Bikham Cyr Script', sans-serif;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 400;
    color: #646363;
  }
  .contacts__text {
    width: 100%;
    height: 40%;
    margin: 30px 0;
    padding: 0 30px;
  }
  .contacts__text1 {
    font-size: 24px;
    font-weight: 400;
    color: #1a3103;
    line-height: 1.6;
  }
  
  .contacts__text2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #2b5006;
    line-height: 1.6;
  }
  .contacts-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  
    font-family: 'Oxanium', sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #142503;
  }
}

/* Media - 1000
===========================================*/
@media (max-width: 1000px) {
  .blog__item {
    width: 50%;
  }
  .blog__item-link {
    width: 40%;
  }
}

/* Media - 700
===========================================*/
@media (max-width: 700px) {
  .intro{
    background-size: auto 100vh;
    margin-bottom: 20px;
  }
  .projects {
    background-size: auto 100%;
  }
    .contacts{
    background-size: auto 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .blog__item-link {
    width: 60%;
  }
  .certificates__blog{
    padding: 50px 0;
  }
  .signature__text {
    font-size: 30px;
  }
}

/* Media - 500
===========================================*/
@media (max-width: 500px) {
  .intro__photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .photo__winter {
    width: 40%;
    margin-top: 80px;
  }
  .blog__item-link {
    width: 60%;
  }
  .certificates__blog{
    padding: 50px 0;
  }

  .text1 {
    font-size: 50px;
  }
  .text2 {
    font-size: 40px;
  }
  .text3 {
    font-size: 20px;
  }
  .text4 {
    font-family: 'Bikham Cyr Script', sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .section__title-text1 {
    font-size: 50px;
  }
  .section__title-text2 {
    padding: 0;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .blog__item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .blog__item-text {
    text-align: start;
  }
  .repository-link {
    justify-content: start;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contacts__photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .photo__autumn {
    width: 40%;
    margin-top: 30px;
  }
  .contacts__text {
    width: 100%;
    height: auto;
    margin: 30px 0;
    padding: 0;
  }
  .contacts__text1 {
    font-size: 20px;
  }
  .contacts__text2 {
    margin-top: 30px;
    font-size: 16px;
  }
  .projects__item {
    padding: 0 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
  }
  .photo__winter {
    margin-top: 100px;
  }
  .description__svg {
    left: calc((100vw - 510px) / 2);
  }
}

/* Media - 400
===========================================*/
@media (max-width: 400px) {
  .blog__item-link {
    width: 60%;
  }
  .certificates__blog{
    padding: 40px 0;
  }

  .text1 {
    font-size: 30px;
  }
  .text2 {
    font-size: 20px;
  }
  .text3 {
    font-size: 14px;
  }
  .text4 {
    font-size: 30px;
  }
  .container {
    padding: 0 10px;
  }
  .section__title-text1 {
    font-size: 40px;
  }
  .section__title-text2 {
    font-size: 14px;
  }
  .contacts__text1 {
    font-size: 20px;
  }
  .contacts__text2 {
    margin-top: 30px;
    font-size: 16px;
  }
  .blog__item-text1 {
    font-size: 18;
  }
  .blog__item-text2 {
   font-size: 16;
  }
  .repository-link {
    justify-content: start;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .projects__item-text1 {
    font-size: 20px;
  }
  .photo__winter {
    margin-top: 100px;
  }
}

/* Media - 500 h
===========================================*/
@media (max-height: 500px) {
  .intro{
    background-size: 100% 100%;
    margin-bottom: 50px;
  }
.intro__content {
  flex-direction: row;
}
  .projects {
    background-size: auto 100%;
  }
  .contacts{
    background-size: 100% 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
  }
  .intro__photo {
    width: 20%;
  }
  .photo__winter {
    margin-top: 60px;
  }
  .content__text {
    margin-top: 100px;
    padding-left: 30px;
    width: 70%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  .text1 {
    font-size: 60px;
  }
  .text2 {
    font-size: 50px;
  }
  .text3 {
    font-size: 30px;
  }
  .content__signature {
    display: none;
  }

  .contacts__content {
   flex-direction: row;
  }
  .contacts__photo {
    margin-top: 100px;
    width: 20%;
  }
  .contacts__text {
    margin-top: 30px;
    width: 70%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  .contacts__text1 {
    font-size: 20px;
  }
  
  .contacts__text2 {
    margin-top: 30px;
    font-size: 14px;
  }
 }
